<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<header>
  <div class="w3-center">
    <div class="w3-bar">
      <button routerLink="home" class="navbotones w3-bar-item w3-button w3-hover-blue w3-red" style="max-width:100%; height: 100px; margin-left: auto;margin-right: auto"> Fotos </button>
      <img src="https://fotos-pagina-s3.s3-us-west-2.amazonaws.com/mirandapp.jpeg" class="navpic w3-bar-item w3-button">
      <img src="https://fotos-pagina-s3.s3-us-west-2.amazonaws.com/lucapp.jpeg" class="navpic w3-bar-item w3-button">
      <button routerLink="admin" class="navbotones 3-button w3-bar-item w3-blue w3-hover-red" style=""> Upload </button>
    </div>
  </div>
</header>



<router-outlet></router-outlet>



