<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<header>
  <div class="logo_box ">
    <div class="link_box w3-bar w3-black">
      <button routerLink="home" class="w3-bar-item w3-button w3-mobile w3-hover-blue w3-red" style="width:40%; height: 100px"> Fotos </button>
      <img src="https://instagram.fgdl13-1.fna.fbcdn.net/v/t51.2885-19/s320x320/175602768_903524060486368_6712379450781736401_n.jpg?tp=1&_nc_ht=instagram.fgdl13-1.fna.fbcdn.net&_nc_ohc=HlmGIlbLTgEAX_6CShU&edm=ABfd0MgAAAAA&ccb=7-4&oh=7205cb3d43a14d3c160e7d20e5a74522&oe=60AC4741&_nc_sid=7bff83" class="w3-bar-item w3-button w3-mobile" alt="enmedio" style="width:10%;height:100px;">
      <img src="https://instagram.fgdl13-1.fna.fbcdn.net/v/t51.2885-19/s320x320/31702675_2078968912345014_4150824388205215744_n.jpg?tp=1&_nc_ht=instagram.fgdl13-1.fna.fbcdn.net&_nc_ohc=pGYu1OTN2WYAX9A6vRV&edm=ABfd0MgAAAAA&ccb=7-4&oh=e65e5453bfb93208ea3d3fab03d7821f&oe=60910068&_nc_sid=7bff83" class="w3-bar-item w3-button w3-mobile" alt="enmedio" style="width:10%;height:100px;">
      <button routerLink="admin" class="w3-bar-item w3-button w3-mobile w3-blue w3-hover-red" style="width:40%;height: 100px"> Upload </button>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

