<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="toptitle">
  <div class="w3-card-2 w3-pale-red w3-center w3-round">
    Fotos de Mini Puki y Luca
  </div>
</div>

<div class="outer_container">


  <div class="big_container">


    <div *ngFor="let i of allImagesNames"  >
      <div class="center w3-pale-red w3-card-4 w3-hover-shadow w3-round"style="padding-top: 0px; margin-bottom: 20px; margin-right: 300px; margin-left: 300px; margin-top: 20px; min-width: 200px;">
        <div class="w3-center w3-card w3-round" style="margin-right: 100px; margin-left: 100px; margin-top: 10px;"> {{i}}</div>
        <img src="https://fotos-pagina-s3.s3-us-west-2.amazonaws.com/{{i}}" class="w3-padding w3-round w3-hover-grayscale w3-center responsive" alt="enmedio" style="display: block; overflow: hidden;margin: 12px auto; object-fit: scale-down">
        <div></div>
      </div>
    </div>
  </div>
</div>
